apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: k8s-webapp
spec:
  type: ClusterIP
  selector:
    app: postgresql
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
